aws-xray-sdk
blinker
boto3
cognitojwt
flask
flask-cors
jwt
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests
psycopg[binary]
psycopg[pool]
rollbar
watchtower
