THUMBING_BUCKET_NAME="assets.codeken.me"
THUMBING_FUNCTION_PATH="/workspaces/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"
THUMBING_S3_FOLDER_PATH_INPUT="/avatar/original"
THUMBING_S3_FOLDER_PATH_OUTPUT=/"avatar/processed"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_WEBHOOK_URL="api.codeken.me/webhooks/avatar"
