THUMBING_BUCKET_NAME="assets.codeken.me"
THUMBING_FUNCTION_PATH="/workspaces/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"
THUMBING_S3_FOLDER_PATH_INPUT="avatars/original"
THUMBING_S3_FOLDER_PATH_OUTPUT="avatars/processed"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_WEBHOOK_URL="https://api.codeken.me/webhooks/avatar"
